<!DOCTYPE html>
<head>

    <title>Wynkl</title>
    
    <link href="{{ asset('menu.css')}}" rel="stylesheet" />
    <link href="{{ asset('base.css')}}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    
</head>
<body>

    <div>
        <nav>
            <ul>
		<li><a href="#">Home</a></li>
                
                <li><a href="#">Inmobiliarias</a></li>
                
                <li><a href="#">Fideicomisos</a></li>
                
                <li class="drop">
                <a href="#">Propietarios</a>	
                    <div class="dropdownContain">
                    <div class="dropOut">
                    <div class="triangle"></div>
			<ul>
                            <li>Comprar</li>
                            <li>Alquilar</li>
			</ul>
                    </div>
                    </div>	
		</li>
                
                <li><a href="#">Buscar</a></li>
                
		<li class="drop">
		<a href="#">Ciudad</a>	
                    <div class="dropdownContain">
                    <div class="dropOut">
                    <div class="triangle"></div>
			<ul>
                            <li>Resistencia</li>
                            <li>Corrientes</li>
                            <li>Formosa</li>
			</ul>
                    </div>
                    </div>
		</li>
                
		<li><a href="#">Help</a></li>
            </ul>
        </nav>
    </div>
    
    <section class="home">
        <hgroup>
            <h3>Wynkl</h3>
            
        </hgroup>
    </section>
    
    <section class="inmobiliarias"></section>
    
    <section class="fideicomisos"></section>
    
    <section class="propietarios"></section>
    
    <section class="buscar"></section>
       

</body>
