<html>
    <head>
    
    <link href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <!--<link href="{{ asset('carousel/bootstrap-combined.min.css')}}" rel="stylesheet" /> calesita mas grande nomas :/ -->
    <script src="{{ asset('http://code.jquery.com/jquery.js') }}"></script> 
    
    
    </head>
    
    <body>
        
        <div class="container">
        <h1>Inmobiliarias</h1>
        
        <!--<ul class="nav nav-tabs">
            <li class="active">
            <a href="#">Alquileres</a>
            </li>
            <li><a href="#">Ventas</a></li>
        </ul>-->
        </div>
        <br />
        <br />
        
        <div class="container"> 
        
        {# fila 1 #}
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
            
        {# fila 2 #}
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
            
        {# fila 3 #}    
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
            
        {# fila 4 #}
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
            
        {# fila 5 #}
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
        </div>

    </body>
</html>
