<html>
    <head>
    
    <link href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <!--<link href="{{ asset('carousel/bootstrap-combined.min.css')}}" rel="stylesheet" /> calesita mas grande nomas :/ -->
    <script src="{{ asset('http://code.jquery.com/jquery.js') }}"></script> 
    
    
    </head>
    
    <body>
        
        

    </body>
</html>
