

.home {
    background-color: #FAA732;
    height: 800px;
    background-image: url(/img/casitas.png);
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.home hgroup h3 {
   font-family: 'Shadows Into Light Two';
   font-size: 80px;
   color: white;
   
}

.home hgroup h1 {
   font-family: 'Arial';
   font-size: 40px;
   
}

.home hgroup {
    position: absolute;
    top: 40%;
    left: 30%;
}

/* bloque "inmobiliarias */

.inmobiliarias hgroup {
    
    background-color: #E7E6E4;
    
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.inmobiliarias hgroup h1{
    font-size: 60px;
    font-family: 'Arial';
}